.checking-about {
    background-color: white;
    width: 100%;
    max-height: 400px;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.checking-about h1 {
    text-align: center;
    display: block;
    color: black;
    font-family: 'Evogria';
    font-style: italic;
    font-weight: 100;
    font-size: clamp(20px, 3vw, 50px);
    width: 80%;
    }

.checking-about-view-bttn {
    display: block;
    margin: 50px auto 0; /* top margin first */
}

.checking-about-view-bttn {
   
    max-width: 250px;
    width: 100%;
    max-height: 100px;
    height: 110%;
}

.checking-about-view-bttn {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: rgb(133, 7, 206);
  --btn-bg-2: rgb(220, 21, 200);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow: 0px 0px 20px rgba(197, 8, 109, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px rgba(175, 230, 255, 0.5), inset -4px -4px 8px rgba(19, 95, 216, 0.35);
}

.checking-about-view-bttn:hover {
  background-position: right top;
}

.checking-about-view-bttn {
  outline: none;
  box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}



