@import url('https://fonts.cdnfonts.com/css/evogria');

.best-sellers {
  background-color: rgb(247, 244, 244);
  height: 100%;

}

.best-container {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;

}

.best-h1 {
    padding-top: 40px;
    margin-top: 0px;
    font-size: clamp(12px, 5vw, 80px);    
    text-align: center;
    font-family: 'Evogria','sans-serif';
    font-style: italic;
    font-weight: 250;
    margin-bottom: 70px;
    color: rgb(37, 37, 37);
}

.best-sellers-card {
    color: white;
    text-align: center;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #8A2BE2, #FF69B4);
    max-width: 320px;
    width: 100%;
    height: 700px;
    margin-bottom: 30px;
    box-shadow: rgba(183, 16, 181, 0.25) 0px 13px 27px -5px, rgba(199, 6, 209, 0.3) 0px 8px 16px -8px;

}

.best-h2 {
    padding-top: 10px;
    font-size: clamp(40px, 4vw, 65px);
    font-family: 'Evogria','sans-serif';
    font-style: italic;
    font-weight: 250;
    margin-bottom: 0px;

}

.best-h3 {
    margin-top: 0px;
    font-family: 'Evogria','sans-serif';
    font-style: italic;
    font-weight: 250;
    font-size: clamp(30px, 4vw, 35px);
}

.best-p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: clamp(6, 4vw, 18px);
    font-weight: 250;
}


.best-logo {
    max-width: 100px;
    width: 100%;
    margin-top: -30px;
    filter: drop-shadow(0px 0px 10px rgb(191, 27, 227));
}


.progress-text {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: block; /* Set display to inline-block */
    margin: 0px;
}

.progress-bar {
    margin: 15px;

    display: inline-block; /* Set display to inline-block */
    width: 50%;
    background-color: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .progress {
    height: 8px;
    background-color: #3bce40;
    transition: width 0.3s ease-in-out;
  }

  .best-button {
    display: block;
    margin: 0 auto;
  }

  .best-button {
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: rgb(7, 206, 57);
    --btn-bg-2: rgb(16, 240, 184);
    --btn-bg-color: hsla(360 100% 100% / 1);
    --radii: 0.5em;
    cursor: pointer;
    padding: 0.9em 1.4em;
    min-width: 120px;
    min-height: 44px;
    font-size: var(--size, 1rem);
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow: 0px 0px 20px rgba(197, 8, 109, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px rgba(175, 230, 255, 0.5), inset -4px -4px 8px rgba(19, 95, 216, 0.35);
  }
  
  .best-button:hover {
    background-position: right top;
  }
  
  .best-button:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
  }
  





@media only screen and (max-width: 1317px) {
    .best-container {
      grid-template-columns: repeat(2, 1fr);

    }
    .best-sellers {
        height: 100%;

    
    }
    }
  
  
  @media only screen and (max-width: 768px) {
    .best-container {
      grid-template-columns: repeat(1, 1fr);
    }
    .best-sellers {
        height: 100%;
    
    }
   
    
  }
  
  
