@import url('https://fonts.cdnfonts.com/css/evogria');

.best-sellers {
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.864);

}

.best-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;

}

.best-h1 {
    padding-top: 40px;
    margin-top: 0px;
    font-size: clamp(12px, 4vw, 65px);    
    text-align: center;
    font-family: 'Evogria','sans-serif';
    font-style: italic;
    font-weight: 250;
}

.best-sellers-card {
    color: white;
    text-align: center;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #8A2BE2, #FF69B4);
    max-width: 320px;
    width: 100%;
    max-height: 700px;
    height: 100%;

}

.best-h2 {
    padding-top: 100px;
    font-size: clamp(40px, 4vw, 65px);
    font-family: 'Evogria','sans-serif';
    font-style: italic;
    font-weight: 250;
    margin-bottom: 0px;

}

.best-h3 {
    margin-top: 0px;
    font-family: 'Evogria','sans-serif';
    font-style: italic;
    font-weight: 250;
    font-size: clamp(30px, 4vw, 35px);
}

.best-p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: clamp(6, 4vw, 18px);
    font-weight: 250;
}


