.level-up {
    width: 85%;
    display: grid;
    place-items: center;
}

.level-up-grid {
    width: 100%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.level-up-one  {
    text-align: left;
    max-width: 800px;
    width: 100%;

}

.level-up-one h1 {
    text-align: left;

    font-weight: 100;
    font-style: italic;
    font-family: 'Evogria',sans-serif;
    margin-top: 30px;
    color: rgb(255, 255, 255);
    font-size: clamp(30px, 5vw, 50px);

}


.level-up-one p {
    text-align: left;

    font-weight: 100;
    font-family: 'Poppins',sans-serif;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    font-size: clamp(10px, 3vw, 15px);

}

.level-up-start-bttn {
    text-align: center;
    display: block;
    font-weight: 200;
    background-color: #f9f9f9;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-family: 'Poppins',sans-serif;
    

}

.level-up-start-bttn:hover {
    transition: 0.3s ease-in-out;
    background-color: #000;
    color: #f9f9f9;

}

.level-up-image {
    margin-top: 40px;
    max-width: 500px;
    width: 100%;
    border-radius: 30px;
    filter: drop-shadow(5px -5px 4px #7e3ee4);
    margin-bottom: 40px;
}

.level-up-mini-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding-bottom: 100px;
}

.level-up-good {
    display: block;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    height: 300px;
    width:  100%;
    transition: 0.3s ease-in-out;
    box-shadow: rgba(13, 67, 216, 0.499) 0px 2px 4px 0px, rgba(58, 5, 234, 0.657) 0px 2px 16px 0px;

}

.level-up-good:hover {
    scale: 1.05;
    transition: 0.3s ease-in-out;
}

.level-up-good h1 {
    margin-top: 20px;
    text-align: center;
    display: block;
    color: rgb(109, 33, 249);
    font-size: clamp(20px, 2vw, 30px);

}

.level-up-good h2 {
    font-weight: 300;
    font-family: 'Poppins',sans-serif;
    color: rgb(109, 33, 249);
    font-size: clamp(7px, 1vw, 11px);

}

.level-up-good-h3 {
    font-family: 'Poppins',sans-serif;
    font-size: clamp(10px, 5vw, 15px);
    color: white;
    text-align: center;
}


.level-up-view-bttn {
    text-align: center;
    display: block;
    font-weight: 200;
    background-color: #f9f9f9;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-family: 'Poppins',sans-serif;
    

}

.level-up-view-bttn:hover {
    transition: 0.3s ease-in-out;
    background-color: #000;
    color: #f9f9f9;
}

@media only screen and  (max-width: 1738px) {
    .level-up-good h2 {
      
        font-size: clamp(7px, 1vw, 9px);
    
    }
}


@media only screen and  (max-width: 1393px) {
    .level-up-grid {
        width: 50%;
        place-content: center;
        grid-template-columns: 1fr;
    }

    .level-up-good {
        width: 100%;
    }


    .level-up {
        width: 100%;
        display: grid;
    place-items: center;
    }

    .level-up-one {
        text-align: center;

    }

    .level-up-one h2 {
        text-align: center;
        font-size: clamp(13px, 2.7vw, 18px);

    }

    
    

    .level-up-one h1{
        text-align: center;

    }

    

    .level-up-one p{
        text-align: center;
    }

    .level-up-start-bttn {
        margin: 0 auto;
    }

    .level-up-good {
        margin-top: 30px;
    }

    .level-up-mini-grid {
        grid-template-columns: 1fr;
    }

    .level-up-mini-grid {
        grid-template-columns: 1fr;
    }

    .level-up-mini-grid > :nth-child(1) {
        grid-row: 1;
        
      }

      .level-up-mini-grid > :nth-child(4) {
        grid-row: 2;
        
      }

      .level-up-mini-grid > :nth-child(7) {
        grid-row: 3;
        
      }

      .level-up-mini-grid > :nth-child(2) {
        grid-row: 4;
        
      }

      .level-up-mini-grid > :nth-child(5) {
        grid-row: 5;
        
      }

      .level-up-mini-grid > :nth-child(8) {
        grid-row: 6;
        
      }

}

@media only screen and  (max-width: 1165px) {

    .level-up-grid {
        width: 70%;
    }

 }

 @media only screen and  (max-width: 821px) {

    .level-up-grid {
        width: 80%;
    }

 }




