@import url('https://fonts.cdnfonts.com/css/evogria');


.info-container {
    display: flex;
    justify-content: center;
  }

.info-cards {
    margin-top: -140px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Update the grid-template-columns property */
    justify-content: center;
    gap: 100px;
    margin-left: 70px;
    margin-right: 70px;
    padding: 1rem;
    text-align: center;
    margin-bottom: 50px;
    
}

.info-card {
    font-family: 'Evogria', sans-serif;
    max-width: 430px;
    width: 100%;
    max-height: 300px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 1rem; 
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    color: white;
    border-style: solid;
    border-color: purple;
    background-color: rgba(128, 0, 128, 0.6);
}

@media (max-width: 1600px) {
    .info-cards {
        margin-left: 0px;
        width: 90%;
        margin-right: 20px;
        margin-bottom: 25px;


        
    }

    .info-card{
       gap: 1rem;
        
    }

    
}

@media (max-width: 1024px) {
    .info-cards {
        max-width: 465px;
        grid-template-columns: 1fr;  
        margin-left: 0px; 
        margin-top: 0px;
        margin-bottom: 25px;
        gap: 25px;


 
    }

    .info-card {
        width: 100%;

    }

    
} 

@media (max-width: 768px) {
    .info-cards {
        margin-right: 40px;
        width: 100%;
        margin-bottom: 25px;

    }

    .info-card {
        height: 250px;

    }
    
} 





.info-card h2{
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    color: white;
    text-align: center;

}
.info-card p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: white;
    text-align: center;

}

@media screen and (max-width: 768px) {
    .info-card h2 {
        font-size: 30px;
    }
    .info-card p {
        font-size: 15px;
    }
}









