@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



.sign-up {
    padding-top: 20px;
    width: 100%;
    height: 100%;
    color: white;
    background: #141010; 
    padding-bottom: 60px;
}




.sign-div {
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
}

.sign-h2 {
    font-family: 'Evogria', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: clamp(20px, 2vw, 25px);    
    margin-left: 30px;
    margin-right: 30px;

}

.sign-input {
    width: 30%;
    height: 40px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    font-size: clamp(12px, 2vw, 20px);    
    
}

.sign-button {
    margin-left: 30px;
}

.sign-button {
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: rgb(133, 7, 206);
    --btn-bg-2: rgb(220, 21, 200);
    --btn-bg-color: hsla(360 100% 100% / 1);
    --radii: 0.5em;
    cursor: pointer;
    padding: 0.9em 1.4em;
    min-width: 120px;
    min-height: 44px;
    font-size: var(--size, 1rem);
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow: 0px 0px 20px rgba(197, 8, 109, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px rgba(175, 230, 255, 0.5), inset -4px -4px 8px rgba(19, 95, 216, 0.35);
  }
  
  .sign-button:hover {
    background-position: right top;
  }
  
  .sign-button:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
  }

  .sign-social-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .sign-social-icons svg {
    margin: 5px;
  }










  
  
  @media only screen and (max-width: 768px) {
    .sign-grid {
      grid-template-columns: repeat(1, 1fr);
    }
    .sign-div {
      height: 100%;
    }
   
    
  }