@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');






.container {
 max-width: 1100px;
 margin: 0 auto;
 padding: 0 15px;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 height: 100%;
}

.home-logo {
    margin-top: -20px;
 width: 90px;
 margin-bottom: 0px;
}


.navbar {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  padding: 20px;
  z-index: 1000;
}
  
  


.logo {
}


.menu-icon {
 display: none;
}

.home-title {
  display: none;
}

.nav-elements {
}


.nav-elements ul {
 display: flex;
 justify-content: space-between;
 list-style-type: none;
}


.nav-elements ul li:not(:last-child) {
 margin-right: 60px;
}


.nav-elements ul a {
 font-size: 16px;
 font-weight: 400;
 color: #dedede;
 text-decoration: none;
}








@media (max-width: 768px) {
 .nav-elements ul li:not(:last-child) {
   margin-right: 30px;
 }

 

 




}


@media (max-width: 1076px) {
 .menu-icon {
   display: block;
   cursor: pointer;
   margin-right: -150px;
   
 }

 @media (max-width: 500px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    margin-right: -110px;
    
  }
}

 .navbar {
  background: rgba(0, 0, 0, 0.5);

 }



 .nav-elements {
  margin-top: 20px;
   position: absolute;
   right: 0;
   top: 60px;
   width: 0px;
   height: calc(100vh - 60px);
   transition: all 0.3s ease-in;
   overflow: hidden;

 }


 .nav-elements.active {
  backdrop-filter: blur(5px);
  max-height: 1000px ;
   width: 100%;
  background: rgba(0, 0, 0, 0.4);
   margin-right: 10px;
   margin-top: 75px;
 }


 .nav-elements ul {
   display: flex;
   flex-direction: column;
   text-align: center;
 }


 .nav-elements ul li {
   margin-right: unset;
   margin-top: 22px;
 }

 .home-title {
  display: block;
 }
}

.search-icon {
    margin-right: -500px;
}


.user-icon {
    margin-right: -500px;
}

.shopping-icon {
    margin-right: -500px;
}

@media (max-width: 1600px) {
  .search-icon,
  .user-icon,
  .shopping-icon {
    margin-right: -300px;
  }
}

@media (max-width: 1200px) {
  .search-icon,
  .user-icon,
  .shopping-icon {
    margin-right: 0;
  }
}

.home-title {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  font-family: 'Protest Strike', sans-serif;
  margin-left: -100px;
}

