@import url('https://fonts.cdnfonts.com/css/evogria');



.home-logo {
    margin-top: -20px;
    width: 70px;
}

.home-title {
    display: none;
    font-family: 'Evogria', sans-serif;
    color: white;
}


.container {
z-index: 99999;
 max-width: 1100px;
 margin: 0 auto;
 padding: 0 15px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 100%;
}


.navbar {
z-index: 99999;
 height: 60px;
 background-color: #28282B;
 position: absolute;
 background-color: transparent;
 margin-top: 50px;
 margin-left: 300px;
}

@media screen and (max-width: 1600px){
    .navbar {
        margin-left: 240px;

    }
    
}


.logo {
}


.menu-icon {
 display: none;
}


.nav-elements {
}


.nav-elements ul {
 display: flex;
 justify-content: space-between;
 list-style-type: none;
}


.nav-elements ul li:not(:last-child) {
 margin-right: 60px;
}


.nav-elements ul a {
 font-size: 16px;
 font-weight: 400;
 color: #ffffff;
 text-decoration: none;
}






@media screen and (max-width: 1190px){
    .navbar {
        margin-top: 0px;
        margin-left: 0px;
        background-color: #28282B;
        position: relative;
        text-align: center;
    }

}


@media (max-width: 768px) {
 .nav-elements ul li:not(:last-child) {
   margin-right: 30px;
 }
}


@media (max-width: 1190px) {
 .menu-icon {
   display: block;
   cursor: pointer;

 }

 .home-title {
    display: block;

 }


 .nav-elements {
   position: absolute;
   right: 0;
   top: 60px;
   background-color: #28282B;
   width: 0px;
   height: calc(100vh - 60px);
   transition: all 0.3s ease-in;
   overflow: hidden;
 }


 .nav-elements.active {
   width: 270px;
 }


 .nav-elements ul {
   display: flex;
   flex-direction: column;
 }


 .nav-elements ul li {
   margin-right: unset;
   margin-top: 22px;
 }
}
