.review-cards {
    background-color: #4e2a8e;
    background-image: linear-gradient(to bottom, #4e2a8e, #000080);
    width: 100%;
    height: 700px;
    padding-bottom: 40px;

}

.review-grid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
    place-items: center;

}




.review-title {
    padding-top: 40px;
    font-family: 'Evogria', sans-serif;
    color: white;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.05em;
    font-weight: 100;
    font-style: italic;
}


/* 
Review Card Styling
*/

.review-card {
    margin-top: 50px;
    max-width: 400px;
    width: 100%;
    max-height: 450px;
    height: 130%;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    opacity: 0.8;
    transition: all 0.3s ease 0s;


}

.review-card:hover {
    opacity: 1;

  }


.review-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.review-h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}


.review-p {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 17px;
    font-weight: 200;
}



@media only screen and (max-width: 1317px) {
  .review-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .review-cards {
    height: 100%;
    margin-bottom: 10px;
  }

  
  }


@media only screen and (max-width: 768px) {
  .review-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .review-cards {
    height: 100%;
  }

  .review-title {
    font-size: 30px;
  }
 
  
}






